.flexcontainer {
    padding-top: 5%;
    padding-right: 3%;
    padding-bottom: 5%;
    padding-left: 3%;
 }

.body{
    padding-top: 5%;
    padding-right: 25%;
    padding-bottom: 5%;
    padding-left: 25%;
}